mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-sm
					+e.sm-title.text-sm-left.text-center Следите за новостями:

					+b.soc
						+e.item(href="https://vk.com/zubnayafeya74" target="_blank") 
							+e.icon-wrap--vk
								+icon("vk")
							| ВКонтакте
						
						+e.item(href="https://www.instagram.com/zubnayafeya74/" target="_blank") 
							+e.icon-wrap--insta
								+icon("insta")
							| Instagram
						
				.col-sm
					.row
						.col-sm-12.col-6
							+e.text--tel
								+e.icon-wrap
									+icon('telephone')
								a.link(href="tel:8351940-78-78") 8 3519 40-78-78
								br
								a.link(href="tel:8951791-22-55") 8 951 791-22-55
								br
								+e.sm-link.link-modal(  data-src="#modal-call" href="javascript:;" data-order="Перезвонить в подвале") Перезвоните мне 
						.col-sm-12.col-6
							+e.text 
								strong  Магнитогорск   Жукова,&nbsp;18   
								| 
								div.d-md-inline Пн&nbsp;&mdash; Пт: 
								| 
								| с&nbsp;9.00 до&nbsp;20.00
								br
								| Сб: с&nbsp;9.00 до&nbsp;14.00
				.col-sm-auto.order-lg-first.text-sm-left.text-center
					+e.logo(href="index.html")
						+pic('logo','png','','lazy',0)
					+e.caption Безболезненная  имплантация зубов  в&nbsp;Магнитогорске
				.col-lg-auto.col-12.order-sm-first.order-last.text-left
					ul
						li
							+e.link(href=`img/@2x/footer-sertificate-1.jpg` data-fancybox="footer-gallery5") Лицензия № ЛО-74-01-003012
							a.d-none(href=`img/@2x/footer-sertificate-2.jpg` data-fancybox="footer-gallery5")
							a.d-none(href=`img/@2x/footer-sertificate-3.jpg` data-fancybox="footer-gallery5")
							a.d-none(href=`img/@2x/footer-sertificate-4.jpg` data-fancybox="footer-gallery5")
						li
							+e.link(href=`img/@2x/footer-uslugi-1.jpg` data-fancybox="footer-uslugi") Положение об оказании платных медицинских услуг
							a.d-none(href=`img/@2x/footer-uslugi-2.jpg` data-fancybox="footer-uslugi")
							a.d-none(href=`img/@2x/footer-uslugi-3.jpg` data-fancybox="footer-uslugi")
							a.d-none(href=`img/@2x/footer-uslugi-4.jpg` data-fancybox="footer-uslugi")
						li
							+e.link(href="files/price.xlsx") Перечень платных медицинских услуг
						li
							+e.link(href=`img/@2x/vrachi-1.jpg` data-fancybox="footer-vrachi") Сведения о мед. работниках
							a.d-none(href=`img/@2x/vrachi-2.jpg` data-fancybox="footer-vrachi")
						li
							+e.link(href="files/organizations.pdf" target="_blank") Адреса и телефоны органов исполнит. власти РФ
		+e.bottom.text-xl-left.text-center
			.container
				.row
					+e.col.col-xl-5.order-xl-last
						.row.justify-content-xl-start.justify-content-center
							.col-auto
								+e.link-body(href="files/processing-conditions.pdf" target="_blank") Пользовательское соглашение
							.col-auto
								+e.link-body(href="files/privacy-policy.pdf" target="_blank") Политика конфиденциальности
					+e.col.col-xl-7 
					
						+e.company ООО &laquo;Эледент&raquo;&nbsp;/ ИНН 7455001836&nbsp;/ КПП 745501001&nbsp;/ ОГРН 1107455001851
						
				.row
					+e.col.col-xl-7
						| 455034, РФ, Челябинская область, г. Магнитогорск, ул. Жукова, 18. (неж. пом. &#8470;&nbsp;1)
						
					+e.col.col-xl-5
						+e.develop 
							.d-block.d-xl-inline Создание и продвижение сайта:  
							| 
							a(href="https://studiobars.ru" target="_blank") студия «Барс»