.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-back {
	font-size:(477.2/10)*1rem;
	width:(477.2/477.2)*1em;
}
.icon-check {
	font-size:(448.8/10)*1rem;
	width:(448.8/448.8)*1em;
}
.icon-chevron-left {
	font-size:(500/10)*1rem;
	width:(270/500)*1em;
}
.icon-clock {
	font-size:(60/10)*1rem;
	width:(56.42/60)*1em;
}
.icon-down-arrow {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icon-exclamation-mark {
	font-size:(286.05/10)*1rem;
	width:(286.05/286.05)*1em;
}
.icon-insta {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-play {
	font-size:(232.15/10)*1rem;
	width:(232.15/232.15)*1em;
}
.icon-ruble {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-spinner {
	font-size:(456.817/10)*1rem;
	width:(456.817/456.817)*1em;
}
.icon-tel-footer {
	font-size:(480.56/10)*1rem;
	width:(480.55/480.56)*1em;
}
.icon-telephone {
	font-size:(480.56/10)*1rem;
	width:(480.56/480.56)*1em;
}
.icon-vk {
	font-size:(285.28/10)*1rem;
	width:(500/285.28)*1em;
}
