extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-about/_s-about.pug
//- include ../blocks/s-form/_s-form.pug
include ../blocks/s-rew/_s-rew.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/s-prices/_s-prices.pug
include ../blocks/s-specialist/_s-specialist.pug
include ../blocks/s-calc/_s-calc.pug
include ../blocks/s-accord/_s-accord.pug 
include ../blocks/s-stock/_s-stock.pug

block title
	title Благодарим за внимание, проявленное к нашей компании

block pagecontent
 
	//- +mob-mnu()
	+header()
		+top-line()
		//- +top-nav()
		+header-block-thanks()
 
	+footer()
	//- +s-form()
	//- +s-contact()

