mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block

mixin input(placeholder,  t='text', label, name= t)
	mixin t(t='text',placeholder, name= t)
		if t== "textarea"
			+e.TEXTAREA.input.form-control(placeholder= placeholder name= name)&attributes(attributes)
		else
			+e.INPUT.input(type= t placeholder= placeholder name= name)&attributes(attributes)
	+e.input-wrap
		if label
			label
				+e.SPAN.title= label
				+t(t,placeholder, name)&attributes(attributes)
		else
			+t(t,placeholder, name)&attributes(attributes)
			
	// +e.input-wrap


//- wrapper for form
mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			input(type="hidden" class='utm_source' name='utm_source')
			input(type="hidden" class='utm_term' name='utm_term')
			block
//- /wrapper for form


mixin in-c(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input
		+e.INPUT.input(type= typ , name= name)&attributes(attributes)
		+e.SPAN.lab
		if block
			block 
		else
			+e.SPAN.text= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin polite()
	+e.polite
		+in-c()
			+e.SPAN.text Принимаю 
				| 
				a(href="#" target="_blank") условия обработки 
				| 
				| персональных данных

mixin form-body()
	
	+input("Ваш номер телефона","tel",'Введите Ваш номер телефона для связи')(required)
	+e.title  Выберите время для звонка
	+b.LABEL.custom-input-time
		+e.INPUT.input(type='checkbox', name='scr8-time', )
		+e.SPAN.lab
		+e.SPAN.text--now 
			span.d-none.d-sm-inline Позвонить сейчас
			span.d-sm-none Сейчас
		+e.SPAN.text--time 
			span.d-none.d-sm-inline Позвонить по времени
			span.d-sm-none По времени
	//- +input(" Ваш номер телефона","tel",'Введите Ваш номер телефона для связи')
	.toggle-wrap-input-js
		+input("Например, 10 апреля в 14:00","text",'','time')
