.s-steps {

	.section-title{
		max-width: em(200);
		// margin-bottom: rem(40);
		padding-bottom: em(12);
		h2{
			padding-bottom: rem(10);
		}
	}
	&__slider{
		margin-left: -30px;
		margin-right: -30px;
	}
	&__slide{
		padding-left: 30px;
		padding-right: 30px;
		height: auto;
		// height: 100%;
		display: flex !important;
		flex-direction: column;
	}
	&__title{
		position: relative;
		z-index: 2;
		text-align: center;
		padding: rem(17) rem(25);
		max-width: rem(298);
		@extend .h6;
		font-style: italic;
		font-weight: 500;
		// display: inline-block;
		margin-bottom: rem(-20);
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			box-shadow: 0 1px 8px 1px rgba(35, 35, 35, 0.14), inset 0 0 7px rgba(255, 255, 255, 0.35);
			background-color: #ffffff;
			background-image: linear-gradient(to top, #bdbdbd 0%, #ffffff 99%, #ffffff 100%);
			border-radius: rem(5);
			transform: skewX(-17deg);
		}
	}
	&__body{
		border-radius: $border-radius;
		background-color: #ffffff;
		
		padding: rem(52) rem(25) rem(26);
		margin-left: rem(30);
		flex-grow: 1;

	}
	.slick-track{
		display: flex;
	}

	&__sub-title{
		display: flex;
		// align-items: center;
		line-height: 1.3;
		color: #585858;
		font-size: rem(14);
		padding-bottom: rem(15);
	}
			.icon{
				color: #e4e4e4;
				font-size: rem(31);
				margin-right: rem(20);
				// flex-grow: 1;
				flex-shrink: 0;
			}
		 p{
			color: #171717;
			line-height: 1.44;
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		margin-top: rem(30);
		padding-top: rem(60);
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}