mixin top-line()
	// start .top-line
	+b.top-line.block-with-lazy
		.container
			mixin col(sm)
				+e.col.col-sm-auto.col-6&attributes(attributes)
					+e.small= sm
					block
			+e.row.row
				+e.col.col-sm-auto.col-6.align-self-center
					+e.wrap.row
						+e.logo.col-sm-auto
							+pic('logo','png','','',0)
						+e.caption.col.d-none.d-lg-block Безболезненная  имплантация зубов  в&nbsp;Магнитогорске
				+col('Есть вопросы? Звоните!')(class="col-tel order-sm-last")
					+e.text--tel
						+e.icon-wrap
							+icon('telephone')
						+e.link(href="tel:8351940-78-78") 8 3519 40-78-78
						br
						+e.link(href="tel:8951791-22-55") 8 951 791-22-55
						.d-xl-none
							+e.sm-link.link-modal(  data-src="#modal-call" href="javascript:;" data-order="Заказать звонок в шапке") Перезвоните мне
				+e.col.col-auto.d-none.d-xl-block.order-last
					+e.btn.link-modal(  data-src="#modal-call" href="javascript:;" data-order="Заказать звонок в шапке") Перезвоните мне
				+col('Наш адрес:')
					+e.text 
						strong г. Магнитогорск
						| ул. Жукова, 18	
				+col('График работы:')
					+e.text 
						div.d-md-inline Пн&nbsp;&mdash; Пт: 
						| 
						| с&nbsp;9.00 до&nbsp;20.00
						br
						| Сб: с&nbsp;9.00 до&nbsp;14.00
	// end .top-line