mixin s-form()
	// start s-form
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			+b.section-title.text-center
				h2
					span.text-primary Получите персональный план
					| 
					| и&nbsp;рассчет стоимости лечения
				+e.text 
					strong Запишитесь  
					| 
					| на&nbsp;бесплатную* комплексную консультацию
			.row
				+e.left-col.col-lg-6.col-md-5
					+e.head.row.d-none.d-lg-flex
						.col-xl-auto.col-6
							+e.man
								+pic("form-doctor",'png')
						.col
							ul
								li Доктор 
									| 
									strong произведет осмотр  
									| 
									| состояния полости рта
								li Вместе с&nbsp;вами 
									| 
									strong составит персональный план лечения  
									| 
									| и&nbsp;подберет имплантат, который необходим именно вам
								li 
									strong Рассчитает стоимость  
									| 
									| лечения
								li При необходимости  
									strong назначит&nbsp;консультацию  
									| 
									| узких специалистов: терапевта, ортопеда
							+e.man-caption
								strong Дмитрий Николаевич, 
								br
								| 
								| стоматолог-хирург
					.row
						.col-lg-auto
							+e.strike 1 500 р.
						.col
							+e.title При имплантации в&nbsp;нашей клинике &mdash; 
								| 
								strong.text-primary комплексная консультация 0&nbsp;р.*
							+e.text Сумма в&nbsp;размере 1500 рублей будет вычтена из&nbsp;общей стоимости имплантации. Предложение не&nbsp;распростроняется на&nbsp;акцию
					+e.foot.row
						.col-auto.d-none.d-lg-block
								+pic("form-photo2",'png')
						.col
							+e.foot-text 
								+e.icon-wrap
									+icon('exclamation-mark')
								| Дополнительно вам потребуется 
								| 
								span.text-primary снимок  
								| 
								| для определения клинической картины и&nbsp;составления оптимального плана лечения. Если у&nbsp;вас уже есть снимок, принесите его с&nbsp;собой на&nbsp;консультацию.
				.col.order-md-last.order-first
					+form-wrap()(class="lazy-background")
						+e.top-title 
							strong Укажите контактные
							| 
							| данные и&nbsp;удобное время для звонка
						+e.text.h6 Администратор Ольга позвонит вам прямо&nbsp;сейчас или в&nbsp;другое рабочее время, и&nbsp;запишет вас на&nbsp;осмотр стоматолога-хирурга.
						+e.text--sm Мы&nbsp;работаем по&nbsp;будням с&nbsp;9:00 до&nbsp;20:00, в&nbsp;сб: с&nbsp;9:00 до&nbsp;14:00
						input(type="hidden" class='order' name="order" value="Получите персональный план")
						+input("Иван","text",'Как Вас зовут?',"name")(required)
						+form-body()
						+e.btn(type="submit")  Записаться на комплексную 
							span консультацию
						+polite
	// end s-form