
mixin s-accord()
	// start s-accord
	+b.SECTION.s-accord.section.bg-pattern.tracked#s-accord
		.container
			+b.section-title.text-center
				h2
					span.text-primary Ответы на&nbsp;часто задаваемые
					| 
					| вопросы перед имплантацией зубов
				+e.text Отвечает Дмитрий Николаевич Кокорин
			mixin item(a)
				+e.col.col-lg-6
					+e.item.hover-block
						.showhide.btn-click
								span= a
								+e.icon-wrap
									+icon('chevron-left')
						.showhide-all
							block
			.row
				 
				+item("Больно ли при операции?")
					p  Современная медицина позволяет проводить имплантацию абсолютно безболезненно. Вам вводится анестезия, которая блокирует нервные окончания. Операция занимает в среднем 30-40 минут. Имплантация — не более сложная процедура, чем удаление зуба и пациенты нормально её переносят.
				+item("Почему врач составляет план на нескольких системах?")
					p  Врачи «Зубной Феи» в обязательном порядке рекомендуют минимум три имплантационные системы с различными характеристиками: возможность одномоментной имплантации, скорость приживления, набор гарантий. Это позволяет вам сравнить варианты и выбрать конструкцию, которая будет максимально соответствовать вашим ожиданиям.
				+item("Будут ли у меня боли после операции? ")
					p  В первый день после операции возможна повышенная чувствительность в месте проведения операции. Возможна временная незначительная отечность лица в оперируемой области. В большинстве случаев эти явления происходят только в день операции. Иногда пациенты даже не принимают обезболивающее совсем.     
				+item("В каких случаях требуется костная пластика?")
					p  Обязательно проводится костная пластика, если на месте отсутствующего зуба костная ткань начала атрофироваться, и её недостаточно для приживления имплантата. Избежать костной пластики можно, если не откладывать имплантацию, сделать её максимально скоро после потери зуба.
				+item("Могут ли возникнуть осложнения при имплантации?")
					p  Комплексное обследование, профессиональные навыки врача, подготовка пациента к операции и качественное выполнение всех необходимых операционных процедур минимизируют риск возникновения осложнений при имплантации зубов. В абсолютном большинстве случаев пациент может вернуться к своей обычной жизни уже на следующий день после проведения операции.
				+item("Зачем доктор рекомендует мне гигиену перед имплантацией?")
					p  Зубной камень, микробный налет, кариес и другие заболевания ротовой полости могут вызвать воспаление прилегающих к имплантату тканей и даже его отторжение, поэтому устранение этих заболеваний — важнейший этап, необходимый перед установкой имплантата.
				+item("Как происходит имплантация? Болезненна ли эта процедура? ")
					p  Установка имплантов проводится в специально оборудованном хирургическом кабинете стоматологической клиники. Операция безболезненна, проводится под местной анестезией. Время установки 1 импланта обычно 20-30 минут. При необходимости одновременно можно установить 4 или более имплантов. В некоторых случаях, это гораздо предпочтительнее, чем проводить последовательно несколько операций.
				+item("Сколько времени необходимо для того, чтобы имплантат прижился?")
					p  Процесс заживления имплантатов зависит от многих факторов, в том числе и от физиологических особенностей каждого пациента. Обычно приживление имплантатов происходит в течение двух - четырех месяцев. Если имплантат установлен в нижнюю челюсть, то процесс приживления длится, как правило, всего полтора - два месяца. Если же в верхнюю, то два - три месяца.

				+item("Могу ли я совершенно нормально откусывать и есть с протезами на имплантатах?")
					p  Безразлично, имеете ли вы мостовидный протез, коронку или другую конструкцию на имплантатах: Вы можете с ними откусывать, есть, говорить и смеяться как с Вашими естественными зубами.
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Имплантация зубов это научно-обоснованный метод, проверенный временем. В настоящее время существуют общепринятые стандарты и протоколы проведения процедуры установки имплантов. Доказана безвредность титановых имплантов для кости, и способность титана интегрироваться, т.е. срастаться с костью. Процент приживляемости имплантов составляет 97%.
				+item("А если имплантат воспаляется? ")
					p  Вовремя распознанные воспаления, которые в большинстве случаев вызваны бактериями, успешно подвергаются лечению. Если Вы регулярно посещаете Вашего стоматолога для профилактики и контроля, дома регулярно чистите зубы, Вам не следует беспокоиться на этот счёт.
				+item("Как долго служит имплантат? ")
					p  Качественный имплантат, установленный со знанием дела, после стадии заживления является более выносливым ко многим влияниям, чем корни естественных зубов. Титановый имплантат под оптимальной нагрузкой не ломается и не может приобрести кариес. При постоянно соблюдаемой гигиене полости рта, десна и ложе импланта остаются здоровыми. Таким образом, импланты вполне могут служить на протяжении всей жизни.
				+item("Как следует ухаживать за новым зубным протезом? ")
					p  Основное правило: коронки и мостовидные протезы с опорой на имплантаты подвергаются такому же уходу, как и естественные зубы. Это означает, что дважды в день следует тщательно чистить зубы и один раз в день следует чистить межзубные промежутки. Дополнительно к этому, особенно важно при протезах с опорой на имплантаты, уход за десной в том месте, где имплантат соприкасается с десной. Это место лучше всего чистить вечером мягкой щёточкой для межзубных промежутков.

			.text-center
				+e.btn-more(href="#") Посмотреть все вопросы
					+icon("spinner")
			+e.foot
				.row
					.col-lg-auto.text-lg-left.text-center
						+e.title-foot У&nbsp;вас другой вопрос?
						+e.gray Задайте его Дмитрию Николаевичу
					.col.text-md-left.text-center
						.row
							.col-md-auto
								+e.person
									+pic("s-specialist-img-sm","png","","lazy",0)
								
							.col 
								.h6.fw-500.em Кокорин Дмитрий Николаевич
								.fw-500  Врач-стоматолог, хирург
					+e.btn-wrap.col-md-auto.lazy-background
						+e.btn.btn-js.link-modal(  data-src="#modal-doctor" href="javascript:;" data-order="Задать вопрос Дмитрию Николаевичу") Задать вопрос
							

	// end s-accord