
mixin s-accord()
	// start s-accord
	+b.SECTION.s-accord.section.bg-pattern.tracked#s-accord
		.container
			+b.section-title.text-center
				h2
					span.text-primary Ответы на&nbsp;часто задаваемые
					| 
					| вопросы перед имплантацией зубов
				+e.text Отвечает Дмитрий Николаевич Кокорин
			mixin item(a)
				.col-lg-6
					+e.item.hover-block
						.showhide.btn-click
								span= a
								+e.icon-wrap
									+icon('chevron-left')
						.showhide-all
							block
			.row
				 
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду  
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 

				+item("Почему я должен верить, что имплант приживется, а если нет? Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 
				+item("Почему я должен верить, что имплант приживется, а если нет? Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду 
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду  
				
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду  
				
				+item("Почему я должен верить, что имплант приживется, а если нет?")
					p  Если человек думает, что этиология неисправности в повреждении подводящей трубки, он должен проверить эту гипотезу. Для этого следует отсоединить шланг, определить его в любую ёмкость (например, в ведро) и включить воду  
				
			.text-center
				+e.btn-more(href="#") Посмотреть все вопросы
					+icon("spinner")
			+e.foot
				.row
					.col-lg-auto.text-lg-left.text-center
						+e.title-foot У&nbsp;вас другой вопрос?
						+e.gray Задайте его Дмитрию Николаевичу
					.col.text-md-left.text-center
						.row
							.col-md-auto
								+e.person
									+pic("s-specialist-img-sm","png","","lazy",0)
								
							.col 
								.h6.fw-500.em Кокорин Дмитрий Николаевич
								.fw-500  Врач-стоматолог, хирург
					+e.btn-wrap.col-md-auto.lazy-background
						+e.btn.btn-js.link-modal(  data-src="#modal-call" href="javascript:;" data-order="Задать вопрос") Задать вопрос
							

	// end s-accord