mixin s-specialist()
	// start s-specialist
	+b.SECTION.s-specialist.section.block-with-lazy#s-specialist&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-specialist
				
			.row
	// end s-specialist